@model FeaturesViewModel
<section class="features">
    <div class="container">
        <h1>@Model.Title</h1>
        <p>@Model.Subtitle</p>
        <div class="tool-features">
            @if (Model.Boxes is not null)
            {
                foreach (var item in Model.Boxes)
                {
                    <div class="box">
                        <img src="@item.BoxImage.ImageUrl" alt="@item.BoxImage.AltText">
                        <h5>@item.BoxTitle</h5>
                        <p>@item.BoxText</p>
                    </div>
                }
            }
        </div>
    </div>
</section>
