@model NewsLetterViewModel
<section class="newsletter">
    <div class="container">
        <div class="top">
            <h1>@Model.NewsletterTitle.Title</h1>
            <img src="@Model.NewsletterImage.ImageUrl" alt="@Model.NewsletterImage.AltText" />
        </div>
        <form asp-controller="Home" asp-action="" asp-fragment="newsletter" novalidate>
            <div class="checkbox-content">
                <div class="news-title">
                    <h5>@Model.NewsletterTitle.Subtitle</h5>
                </div>
                <div class="checkboxes">
                    @foreach (var item in Model.Checkbox)
                    {
                        <div class="box">
                            <input type="checkbox" id="@item.Id" />
                            <label asp-for="@item.Id">@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <div class="subscribe">
                <input type="text" name="email" placeholder="Your Email" class="input-email" />
                <button class="btn-theme" href="#"><span>* Subscribe</span></button>
            </div>
        </form>
    </div>
</section>
