@model CoursesViewModel
@{
    var courses = Model.Courses;
}

@{
    ViewData["Title"] = Model.Title;
}

<section id="@Model.Title" class="container">
    <div class="courses">

        <div class="section-title">
            <h1 class="h1">Courses</h1>
            <div class="search-div">
                <div class="dropdown">
                    <select name="All Categories">

                        @if (courses.Categories is not null)
                        {
                            foreach (var category in courses.Categories)
                            {
                                <option value="test">All Categories</option>
                            }
                        }

                    </select>
                </div>
                <div class="search">
                    <input type="search" name="search" placeholder="Search courses" />
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
        <div class="grid">
            @* @foreach (var course in courses) *@
            <div class="course-card">
                <a class="content" asp-controller="@courses.Link.ControllerName" asp-action="@courses.Link.ActionName">
                    <div class="image">
                        <img src="/images/fullstack_dev.png" alt="@courses.CourseImage.AltText" />
                    </div>
                    <div class="course-info">
                        <p class="title">@courses.Title</p>
                        <p class="author">@courses.Author.AuthorName</p>
                        <p class="price">$ @courses.Price</p>
                    </div>
                    <div class="divider"></div>
                    <footer>
                        <div>
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p> 500 hours</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>@courses.Views</p>
                        </div>
                    </footer>
                </a>
            </div>
            <div class="course-card">
                <a class="content" asp-controller="@courses.Link.ControllerName" asp-action="@courses.Link.ActionName">
                    <img src="@courses.CourseImage.ImageUrl" alt="@courses.CourseImage.AltText" />
                    <div class="course-info">
                        <p class="title">@courses.Title</p>
                        <p class="author">@courses.Author.AuthorName</p>
                        <p class="price">$ @courses.Price</p>
                    </div>
                    <div class="divider"></div>
                    <footer>
                        <div>
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p> hours</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>@courses.Views</p>
                        </div>
                    </footer>
                </a>
            </div> <div class="course-card">
                <a class="content" asp-controller="@courses.Link.ControllerName" asp-action="@courses.Link.ActionName">
                    <img src="@courses.CourseImage.ImageUrl" alt="@courses.CourseImage.AltText" />
                    <div class="course-info">
                        <p class="title">@courses.Title</p>
                        <p class="author">@courses.Author.AuthorName</p>
                        <p class="price">$ @courses.Price</p>
                    </div>
                    <div class="divider"></div>
                    <footer>
                        <div>
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p> hours</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>@courses.Views</p>
                        </div>
                    </footer>
                </a>
            </div>
        </div>
    </div>
</section>