<div class="profile">
    <div class="image">
        <img src="@Model.Details.ProfileImage" alt="@($"{@Model.Details.FirstName} {@Model.Details.LastName}")" />
    </div>
    <h5 class="user-name"> @Model.Details.FirstName @Model.Details.LastName</h5>
    <p>@Model.Details.Email</p>
</div>
<nav class="options">
    <a class="active" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-gear"></i>Account Details</a>
    <a class="menu-link" asp-controller="Account" asp-action="Security"><i class="fa-regular fa-lock"></i>Security</a>
    <a class="menu-link" asp-controller="Account" asp-action="SavedCourses"><i class="fa-sharp fa-regular fa-bookmark"></i>Saved Courses</a>
    <a class="menu-link" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-right-from-bracket"></i>Sign Out</a>
</nav>

