@model AccountViewModel

<section id="saved-courses">
    <div class="container">
        <div class="menu-bar">
            @await Html.PartialAsync("~/Views/Shared/Component/_AccountNavbarPartial.cshtml")           
        </div>
        <div class="content">
            <h2>@Model.SavedCourses.Title</h2>
            <div class="saved-items">
                <div class="course-card">
                    <div class="image">
                        <img src="~/images/video-game-design.svg" />
                    </div>                    
                    <a class="bookmark" asp-controller="" asp-action=""><i class="fa-solid fa-bookmark"></i></a>
                    <div class="hide"><p>Remove</p></div>
                    <div class="course-info">
                        <h5 class="title">@Model.SavedCourses.CourseDetails.Title</h5>
                        <p class="author">By @Model.SavedCourses.CourseDetails.Author.AuthorName</p>         
                        <p class="price">$@Model.SavedCourses.CourseDetails.Price</p>
                        <div class="divider"></div>                        
                    </div>
                    <div class="bottom">
                        <div>
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p>@Model.SavedCourses.CourseDetails.ViewHours hours</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>@Model.SavedCourses.CourseDetails.Likes</p>
                        </div>
                    </div>
                    
                </div>
                <div class="course-card">
                    <div class="image">
                        <img src="~/images/video-game-design.svg" />
                    </div>
                    <a class="bookmark" asp-controller="" asp-action=""><i class="fa-solid fa-bookmark"></i></a>
                    <div class="hide"><p>Remove</p></div>
                    <div class="course-info">
                        <h5 class="title">@Model.SavedCourses.CourseDetails.Title</h5>
                        <p class="author">By @Model.SavedCourses.CourseDetails.Author.AuthorName</p>
                        <p class="price">$@Model.SavedCourses.CourseDetails.Price</p>
                        <div class="divider"></div>
                    </div>
                    <div class="bottom">
                        <div>
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p>@Model.SavedCourses.CourseDetails.ViewHours hours</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>@Model.SavedCourses.CourseDetails.Likes</p>
                        </div>
                    </div>
                </div>
                <div class="course-card">
                    <div class="image">
                        <img src="~/images/video-game-design.svg" />
                    </div>
                    <a class="bookmark" asp-controller="" asp-action=""><i class="fa-solid fa-bookmark"></i></a>
                    <div class="hide"><p>Remove</p></div>
                    <div class="course-info">
                        <h5 class="title">@Model.SavedCourses.CourseDetails.Title</h5>
                        <p class="author">By @Model.SavedCourses.CourseDetails.Author.AuthorName</p>
                        <p class="price">$@Model.SavedCourses.CourseDetails.Price</p>
                        <div class="divider"></div>
                    </div>
                    <div class="bottom">
                        <div>
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p>@Model.SavedCourses.CourseDetails.ViewHours hours</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>@Model.SavedCourses.CourseDetails.Likes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>

</section>
