@model SavedCoursesViewModel

<section id="saved-courses">
    <div class="container">
        <div class="menu-bar">
            <div class="profile">
                <div class="image">
                    <img src="@Model.Account.ProfileImage" alt="" />
                </div>
                <h5 class="user-name">@Model.Account.FirstName @Model.Account.LastName</h5>
                <p>@Model.Account.Email</p>
            </div>
            <nav class="options">
                <a class="menu-link" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-gear"></i>Account Details</a>
                <a class="menu-link" asp-controller="Account" asp-action="Security"><i class="fa-regular fa-lock"></i>Security</a>
                <a class="active" asp-controller="Account" asp-action="SavedCourses"><i class="fa-sharp fa-regular fa-bookmark"></i>Saved Courses</a>
                <a class="menu-link" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-right-from-bracket"></i>Sign Out</a>
            </nav>
        </div>
        <div class="content">
            <h2>@Model.Title</h2>
            <div class="saved-items">
                <div class="course-card">
                    <div class="image">
                        <img src="~/images/video-game-design.svg" />
                    </div>
                    <div class="bookmark"><i class="fa-solid fa-bookmark"></i></div>
                    <div class="course-info">
                        <h5 class="title">@Model.CourseDetails.Title</h5>
                        <p class="author">By @Model.CourseDetails.Author.AuthorName</p>
                        <p class="price">$@Model.CourseDetails.Price</p>
                        <div class="divider"></div>                        
                    </div>
                    <div class="bottom">
                        <div>
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p>@Model.CourseDetails.ViewHours hours</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>@Model.CourseDetails.Likes</p>
                        </div>
                    </div>
                    
                </div>
                <div class="course-card">
                    <div class="image">
                        <img src="~/images/video-game-design.svg" />
                    </div>
                    <div class="bookmark"><i class="fa-solid fa-bookmark"></i></div>
                    <div class="course-info">
                        <h5 class="title">@Model.CourseDetails.Title</h5>
                        <p class="author">By @Model.CourseDetails.Author.AuthorName</p>
                        <p class="price">$@Model.CourseDetails.Price</p>
                        <div class="divider"></div>
                    </div>
                    <div class="bottom">
                        <div>
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p>@Model.CourseDetails.ViewHours hours</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>@Model.CourseDetails.Likes</p>
                        </div>
                    </div>
                </div>
                <div class="course-card">
                    <div class="image">
                        <img src="~/images/video-game-design.svg" />
                    </div>
                    <div class="bookmark"><i class="fa-solid fa-bookmark"></i></div>
                    <div class="course-info">
                        <h5 class="title">@Model.CourseDetails.Title</h5>
                        <p class="author">By @Model.CourseDetails.Author.AuthorName</p>
                        <p class="price">$@Model.CourseDetails.Price</p>
                        <div class="divider"></div>
                    </div>
                    <div class="bottom">
                        <div>
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p>@Model.CourseDetails.ViewHours hours</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>@Model.CourseDetails.Likes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>

</section>
